@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
}

nav {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  display: flex;
  font-size: 20px;
  background-color: rgb(224, 209, 245);
  padding: 23px;
  transition: all;
  transition-duration: 500ms;
}

nav ul {
  display: flex;
}

nav li a {
  text-decoration: none;
  color: rgb(2, 3, 18);
}

nav li a:hover {
  text-decoration: none;
  color: rgb(71, 24, 146);
}

div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 23px;
}

nav ul li {
  margin: 0 23px;
  list-style: none;
}

.container {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  width: 80vh;

  margin: auto;
}

.container h1,
h2 {
  margin: 23px 0;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form label {
  font-size: 25px;
}

.container form input[type="number"],
select,
label {
  font-size: 25px;
  width: 23vw;
  margin: 12px 0;
  margin-bottom: 23px 0;
}

.btn {
  width: 144px;
  padding: 5px 8px;
  font-size: 20px;
  background: #e1bfe1;
  cursor: pointer;
  border-radius: 13px;
}

.output {
  /* display: none; */
}

.output table {
  width: 50vw;
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
}

footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
